@page
@model WebApp2.Pages.databaseTESTModel
@{
}
@using System.Data.SqlClient;
@{
    SqlConnection connection = new SqlConnection("Data Source=dist-6-505.uopnet.plymouth.ac.uk;Initial Catalog=COMP2001_OClark;Password=GgyC627+; User=OClark");
    connection.Open();
}

<div>
    <table>
        @{
            SqlCommand command = new SqlCommand("SELECT * FROM cw1.profile", connection);
            //command.Connection.Open();
            command.ExecuteNonQuery();

            using (SqlDataReader reader = command.ExecuteReader())
            {
                while (reader.Read())
                {
                                                    <tr>
                        @try
                        {
                                                            <td>@reader.GetString(3)</td>
                        }
                        catch
                        {
                                                            <td>NULL</td>
                        }
                                                        <td>@reader.GetString(4)</td>
                                                    </tr> 
                }
            }
        }
    </table>
</div>