@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="loginBox">
    <table style="margin: auto">
        <tr>
            <th style="text-align:right;">
                <label for="fname">Email:</label>
            </th>
            <td >
                <input type="text" id="username" name="fname">
            </td>
        </tr>
        <tr>
            <th style="text-align:right;">
                <label  for="lname">Password:</label>
            </th>
            <td >
                <input type="text" id="Pass" name="lname">
            </td>
        </tr>
        <tr>
            <td colspan ="2" style="text-align:center;">
                <input type="submit" value="Submit">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <input type="submit" value="Register">
            </td>
        </tr>
    </table>
</div>
